
@{
    ViewBag.Title = "Ayuda";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="css/index.css" rel="stylesheet" />
    <style type="text/css">
        .bg {
            width: 100%;
            background-image: url('../img/media.jpg');
            background-size: 100% 100%;
            overflow-y: hidden;
            position: fixed;
            z-index: -1;
        }

        .pagina-sitio {
            width: 85%;
            margin: auto;
            margin-top: 100px;
            background-color: white;
        }

            .pagina-sitio ul {
                text-align: center;
                display: inline-flex;
                margin: 0.2em;
                margin-left: 60px;
            }

                .pagina-sitio ul li a {
                    font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
                    font-size: 10pt;
                    text-align: center;
                }

        .Titulo-sitio h1 {
            color: white;
            font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
            font-size: 55pt;
            text-align: center;
        }

        .Titulo-sitio p {
            color: white;
            font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
            font-size: 10pt;
            text-align: center;
            padding: 0.5em;
        }

        .content-block {
            padding: 1em;
        }

        .ayudar {
            width: 90%;
            background: blue;
            text-align: center;
        }

            .ayudar img {
                width: 100%;
            }

        .content-block p {
            font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
            font-size: 14pt;
        }
    </style>

</head>
<body>
    <form id="form1">
            <div class="bg">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <div class="Titulo-sitio">
                <h1 style="height: 90px;">Ayuda</h1>
                <p>En esta página podras encontrar información sobre algunas dudas que tengas del uso del GeoMedia</p>
            </div>
            <div class="pagina-sitio">
                <ul>
                    <li><a href="#t1">¿Como iniciar sesión?</a>&nbsp;|&nbsp;</li>
                    <li><a href="#t2">¿Como crear una cuenta?</a>&nbsp;|&nbsp;</li>
                    <li><a href="#t3">¿Como contactarnos?</a>&nbsp;|&nbsp;</li>
                </ul>
                <br />
                <br />
                <br />
                <br />
                <div class="content-list">
                    <div class="content-block">
                        <a name="t1"><h1>¿Como iniciar sesión?</h1></a>
                        <p>
                            Para iniciar sesion  se accedera a la opcion del menu "iniciar sesion " y
                            se abrira la pagina mostrada en la imagen.
                        </p>

                        <div class="ayudar">
                            <img src="~/img/iniciar.jpeg" />
                        </div>
                        <br />
                        <br />
                        <p>
                            se debera especificar en los campos ls datos indicado y con los cuales se ha creado el usuario,
                            luego elegir la opcion"Acceder " y ya abra iniciado sesion.
                            <br />
                            <br />

                        </p>
                    </div>

                    <div class="content-block">
                        <a name="t2"><h1>¿Como crear una cuenta?</h1></a>
                        <p>
                            Para crear una cuenta debera estar dentro de la pagina de iniciar sesion mostrada en la imagen e ir a la opcion
                            "crear un nuevo usuario " ubicado al final de la pagina.
                            Se abrira la pagina. Se abrira la pagina mostrada en la imagen y procedera a llenar campos solicitados
                            y elegir la opcion "Registrarse".
                            <div class="ayudar">
                                <img src="~/img/crarc.jpeg" />
                            </div>

                            <br />
                            <br />

                        </p>
                    </div>

                    <div class="content-block">
                        <a name="t3"><h1>¿Como contactarnos?</h1></a>
                        <p>
                            Para contactarnos  debe estar dentro de la pagina de iniciar sesion mostrada en la imagen e ir ala opcion
                            "Contactenos",
                            se abrira la pagina ostrada en la imagen  y describe su problema para contactarnos.
                            <div class="ayudar">
                                <img src="~/img/conta.jpeg" />
                            </div>

                            <br />
                            <br />

                        </p>
                    </div>


                    
                </div>

            </div>
        <div class="pie">
            <div class="texto-pie">
                <h4>
                    Derechos reservados
                </h4>
                <p>
                    Por problemas que se puedan presentar durante su experiencia,
                    por favor contactenos para solventar sus inquietudes lo más
                    rapido posible. Por otra parte gracias por usar nuestro sitio.
                </p>
            </div>
            <div class="redes">
                <p>Puedes encontrarnos también en:</p>
                <ul>
                    <li><a href="#" class="f-logo"><img src="~/img/f-logo.png" alt="facebook-logo" /></a></li>
                    <li><a href="#" class="w-logo"><img src="~/img/w-logo.png" alt="whatsapp-logo" /></a></li>
                    <li><a href="#" class="t-logo"><img src="~/img/t-logo.png" alt="twitter-logo" /></a></li>
                    <li><a href="#" class="i-logo"><img src="~/img/i-logo.png" alt="instagram-logo" /></a></li>
                </ul>
            </div>
        </div>  
    </form>
</body>
</html>
