
@{
    ViewBag.Title = "Ayuda";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="css/index.css" rel="stylesheet" />
    <style type="text/css">
        .bg {
            width: 100%;
            background-image: url('../img/media.jpg');
            background-size: 100% 100%;
            overflow-y: hidden;
            position: fixed;
            z-index: -1;
        }

        .pagina-sitio {
            width: 85%;
            margin: auto;
            margin-top: 100px;
            background-color: white;
        }

            .pagina-sitio ul {
                text-align: center;
                display: inline-flex;
                margin: 0.2em;
                margin-left: 60px;
            }

                .pagina-sitio ul li a {
                    font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
                    font-size: 10pt;
                    text-align: center;
                }

        .Titulo-sitio h1 {
            color: white;
            font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
            font-size: 55pt;
            text-align: center;
        }

        .Titulo-sitio p {
            color: white;
            font-family: 'Microsoft YaHei UI', 'Comic Sans MS';
            font-size: 10pt;
            text-align: center;
            padding: 0.5em;
        }

        .content-block {
            padding: 1em;
        }
    </style>

</head>
<body>
    <form id="form1">
        <div>
            <div class="bg">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <div class="Titulo-sitio">
                <h1 style="height: 90px;">Ayuda</h1>
                <p>En esta página podras encontrar información sobre algunas dudas que tengas del uso del GeoMedia</p>
            </div>
            <div class="pagina-sitio">
                <ul>
                    <li><a href="#t1">¿Como iniciar sesión?</a>&nbsp;|&nbsp;</li>
                    <li><a href="#t2">¿Como crear una cuenta?</a>&nbsp;|&nbsp;</li>
                    <li><a href="#t3">¿Como contactarnos?</a>&nbsp;|&nbsp;</li>
                    <li><a href="#t4">¿Como interactuar con el sitio?</a>&nbsp;|&nbsp;</li>
                    <li><a href="#t5">¿Como Alquilar?</a>&nbsp;|&nbsp;</li>
                    <li><a href="#t6">¿Por cuanto tiempo se puede alquilar?</a></li>
                </ul>
                <br />
                <br />
                <br />
                <br />
                <div class="content-list">
                    <div class="content-block">
                        <a name="t1"><h1>¿Como iniciar sesión?</h1></a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus aliquet
                            dictum. Nullam consectetur erat ut viverra molestie. Maecenas maximus semper dolor,
                            eget ultrices erat posuere non. Vivamus pellentesque blandit sem id suscipit. Vivamus
                            vestibulum fermentum molestie. Etiam nec cursus nisi, ut suscipit turpis. Nunc volutpat
                            elementum dapibus. Vestibulum congue accumsan libero at imperdiet. Quisque scelerisque
                            suscipit sapien, nec dapibus sapien eleifend bibendum. Nam lacinia lobortis enim, a
                            imperdiet dui semper vel. Sed in erat quis ipsum pulvinar facilisis.
                            <br />
                            <br />
                            Donec semper diam vel ex ornare, nec pellentesque nisi gravida. Fusce a tincidunt ex.
                            Vestibulum ultricies sed nisi a fermentum. Donec pretium ante diam, quis scelerisque
                            diam vestibulum et. Vestibulum id aliquam dolor. Praesent in varius urna. Ut in iaculis
                            odio, nec euismod ante. Nulla pellentesque ex pharetra, tincidunt ligula id, tempor
                            nulla. Proin euismod ex consectetur, condimentum ipsum ac, facilisis odio. Nam at felis
                            eros. Suspendisse potenti.
                            <br />
                            <br />
                            Nunc maximus turpis non vulputate vulputate. Nunc accumsan tortor eget venenatis congue.
                            Suspendisse condimentum ipsum a ligula bibendum faucibus. Quisque finibus, diam sit
                            amet lacinia ultricies, lacus nulla dictum nisl, sed congue ante dui in sem. Vivamus
                            congue congue libero eu porttitor. Nunc tortor arcu, sollicitudin non interdum et,
                            bibendum sed nisl. Mauris bibendum varius lorem, sed dignissim diam mattis a. Mauris
                            dictum ac sapien quis pharetra. Mauris ipsum elit, dignissim et nisl quis, congue
                            mattis quam. Sed ac mi a lacus sodales lacinia quis egestas mi
                        </p>
                    </div>

                    <div class="content-block">
                        <a name="t2"><h1>¿Como crear una cuenta?</h1></a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus aliquet
                            dictum. Nullam consectetur erat ut viverra molestie. Maecenas maximus semper dolor,
                            eget ultrices erat posuere non. Vivamus pellentesque blandit sem id suscipit. Vivamus
                            vestibulum fermentum molestie. Etiam nec cursus nisi, ut suscipit turpis. Nunc volutpat
                            elementum dapibus. Vestibulum congue accumsan libero at imperdiet. Quisque scelerisque
                            suscipit sapien, nec dapibus sapien eleifend bibendum. Nam lacinia lobortis enim, a
                            imperdiet dui semper vel. Sed in erat quis ipsum pulvinar facilisis.
                            <br />
                            <br />
                            Donec semper diam vel ex ornare, nec pellentesque nisi gravida. Fusce a tincidunt ex.
                            Vestibulum ultricies sed nisi a fermentum. Donec pretium ante diam, quis scelerisque
                            diam vestibulum et. Vestibulum id aliquam dolor. Praesent in varius urna. Ut in iaculis
                            odio, nec euismod ante. Nulla pellentesque ex pharetra, tincidunt ligula id, tempor
                            nulla. Proin euismod ex consectetur, condimentum ipsum ac, facilisis odio. Nam at felis
                            eros. Suspendisse potenti.
                            <br />
                            <br />
                            Nunc maximus turpis non vulputate vulputate. Nunc accumsan tortor eget venenatis congue.
                            Suspendisse condimentum ipsum a ligula bibendum faucibus. Quisque finibus, diam sit
                            amet lacinia ultricies, lacus nulla dictum nisl, sed congue ante dui in sem. Vivamus
                            congue congue libero eu porttitor. Nunc tortor arcu, sollicitudin non interdum et,
                            bibendum sed nisl. Mauris bibendum varius lorem, sed dignissim diam mattis a. Mauris
                            dictum ac sapien quis pharetra. Mauris ipsum elit, dignissim et nisl quis, congue
                            mattis quam. Sed ac mi a lacus sodales lacinia quis egestas mi
                        </p>
                    </div>

                    <div class="content-block">
                        <a name="t3"><h1>¿Como contactarnos?</h1></a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus aliquet
                            dictum. Nullam consectetur erat ut viverra molestie. Maecenas maximus semper dolor,
                            eget ultrices erat posuere non. Vivamus pellentesque blandit sem id suscipit. Vivamus
                            vestibulum fermentum molestie. Etiam nec cursus nisi, ut suscipit turpis. Nunc volutpat
                            elementum dapibus. Vestibulum congue accumsan libero at imperdiet. Quisque scelerisque
                            suscipit sapien, nec dapibus sapien eleifend bibendum. Nam lacinia lobortis enim, a
                            imperdiet dui semper vel. Sed in erat quis ipsum pulvinar facilisis.
                            <br />
                            <br />
                            Donec semper diam vel ex ornare, nec pellentesque nisi gravida. Fusce a tincidunt ex.
                            Vestibulum ultricies sed nisi a fermentum. Donec pretium ante diam, quis scelerisque
                            diam vestibulum et. Vestibulum id aliquam dolor. Praesent in varius urna. Ut in iaculis
                            odio, nec euismod ante. Nulla pellentesque ex pharetra, tincidunt ligula id, tempor
                            nulla. Proin euismod ex consectetur, condimentum ipsum ac, facilisis odio. Nam at felis
                            eros. Suspendisse potenti.
                            <br />
                            <br />
                            Nunc maximus turpis non vulputate vulputate. Nunc accumsan tortor eget venenatis congue.
                            Suspendisse condimentum ipsum a ligula bibendum faucibus. Quisque finibus, diam sit
                            amet lacinia ultricies, lacus nulla dictum nisl, sed congue ante dui in sem. Vivamus
                            congue congue libero eu porttitor. Nunc tortor arcu, sollicitudin non interdum et,
                            bibendum sed nisl. Mauris bibendum varius lorem, sed dignissim diam mattis a. Mauris
                            dictum ac sapien quis pharetra. Mauris ipsum elit, dignissim et nisl quis, congue
                            mattis quam. Sed ac mi a lacus sodales lacinia quis egestas mi
                        </p>
                    </div>

                    <div class="content-block">
                        <a name="t4"><h1>¿Como interactuar con el sitio?</h1></a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus aliquet
                            dictum. Nullam consectetur erat ut viverra molestie. Maecenas maximus semper dolor,
                            eget ultrices erat posuere non. Vivamus pellentesque blandit sem id suscipit. Vivamus
                            vestibulum fermentum molestie. Etiam nec cursus nisi, ut suscipit turpis. Nunc volutpat
                            elementum dapibus. Vestibulum congue accumsan libero at imperdiet. Quisque scelerisque
                            suscipit sapien, nec dapibus sapien eleifend bibendum. Nam lacinia lobortis enim, a
                            imperdiet dui semper vel. Sed in erat quis ipsum pulvinar facilisis.
                            <br />
                            <br />
                            Donec semper diam vel ex ornare, nec pellentesque nisi gravida. Fusce a tincidunt ex.
                            Vestibulum ultricies sed nisi a fermentum. Donec pretium ante diam, quis scelerisque
                            diam vestibulum et. Vestibulum id aliquam dolor. Praesent in varius urna. Ut in iaculis
                            odio, nec euismod ante. Nulla pellentesque ex pharetra, tincidunt ligula id, tempor
                            nulla. Proin euismod ex consectetur, condimentum ipsum ac, facilisis odio. Nam at felis
                            eros. Suspendisse potenti.
                            <br />
                            <br />
                            Nunc maximus turpis non vulputate vulputate. Nunc accumsan tortor eget venenatis congue.
                            Suspendisse condimentum ipsum a ligula bibendum faucibus. Quisque finibus, diam sit
                            amet lacinia ultricies, lacus nulla dictum nisl, sed congue ante dui in sem. Vivamus
                            congue congue libero eu porttitor. Nunc tortor arcu, sollicitudin non interdum et,
                            bibendum sed nisl. Mauris bibendum varius lorem, sed dignissim diam mattis a. Mauris
                            dictum ac sapien quis pharetra. Mauris ipsum elit, dignissim et nisl quis, congue
                            mattis quam. Sed ac mi a lacus sodales lacinia quis egestas mi
                        </p>
                    </div>

                    <div class="content-block">
                        <a name="t5"><h1>¿Como Alquilar?</h1></a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus aliquet
                            dictum. Nullam consectetur erat ut viverra molestie. Maecenas maximus semper dolor,
                            eget ultrices erat posuere non. Vivamus pellentesque blandit sem id suscipit. Vivamus
                            vestibulum fermentum molestie. Etiam nec cursus nisi, ut suscipit turpis. Nunc volutpat
                            elementum dapibus. Vestibulum congue accumsan libero at imperdiet. Quisque scelerisque
                            suscipit sapien, nec dapibus sapien eleifend bibendum. Nam lacinia lobortis enim, a
                            imperdiet dui semper vel. Sed in erat quis ipsum pulvinar facilisis.
                            <br />
                            <br />
                            Donec semper diam vel ex ornare, nec pellentesque nisi gravida. Fusce a tincidunt ex.
                            Vestibulum ultricies sed nisi a fermentum. Donec pretium ante diam, quis scelerisque
                            diam vestibulum et. Vestibulum id aliquam dolor. Praesent in varius urna. Ut in iaculis
                            odio, nec euismod ante. Nulla pellentesque ex pharetra, tincidunt ligula id, tempor
                            nulla. Proin euismod ex consectetur, condimentum ipsum ac, facilisis odio. Nam at felis
                            eros. Suspendisse potenti.
                            <br />
                            <br />
                            Nunc maximus turpis non vulputate vulputate. Nunc accumsan tortor eget venenatis congue.
                            Suspendisse condimentum ipsum a ligula bibendum faucibus. Quisque finibus, diam sit
                            amet lacinia ultricies, lacus nulla dictum nisl, sed congue ante dui in sem. Vivamus
                            congue congue libero eu porttitor. Nunc tortor arcu, sollicitudin non interdum et,
                            bibendum sed nisl. Mauris bibendum varius lorem, sed dignissim diam mattis a. Mauris
                            dictum ac sapien quis pharetra. Mauris ipsum elit, dignissim et nisl quis, congue
                            mattis quam. Sed ac mi a lacus sodales lacinia quis egestas mi
                        </p>
                    </div>

                    <div class="content-block">
                        <a name="t6"><h1>¿Por cuanto tiempo se puede alquilar?</h1></a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus aliquet
                            dictum. Nullam consectetur erat ut viverra molestie. Maecenas maximus semper dolor,
                            eget ultrices erat posuere non. Vivamus pellentesque blandit sem id suscipit. Vivamus
                            vestibulum fermentum molestie. Etiam nec cursus nisi, ut suscipit turpis. Nunc volutpat
                            elementum dapibus. Vestibulum congue accumsan libero at imperdiet. Quisque scelerisque
                            suscipit sapien, nec dapibus sapien eleifend bibendum. Nam lacinia lobortis enim, a
                            imperdiet dui semper vel. Sed in erat quis ipsum pulvinar facilisis.
                            <br />
                            <br />
                            Donec semper diam vel ex ornare, nec pellentesque nisi gravida. Fusce a tincidunt ex.
                            Vestibulum ultricies sed nisi a fermentum. Donec pretium ante diam, quis scelerisque
                            diam vestibulum et. Vestibulum id aliquam dolor. Praesent in varius urna. Ut in iaculis
                            odio, nec euismod ante. Nulla pellentesque ex pharetra, tincidunt ligula id, tempor
                            nulla. Proin euismod ex consectetur, condimentum ipsum ac, facilisis odio. Nam at felis
                            eros. Suspendisse potenti.
                            <br />
                            <br />
                            Nunc maximus turpis non vulputate vulputate. Nunc accumsan tortor eget venenatis congue.
                            Suspendisse condimentum ipsum a ligula bibendum faucibus. Quisque finibus, diam sit
                            amet lacinia ultricies, lacus nulla dictum nisl, sed congue ante dui in sem. Vivamus
                            congue congue libero eu porttitor. Nunc tortor arcu, sollicitudin non interdum et,
                            bibendum sed nisl. Mauris bibendum varius lorem, sed dignissim diam mattis a. Mauris
                            dictum ac sapien quis pharetra. Mauris ipsum elit, dignissim et nisl quis, congue
                            mattis quam. Sed ac mi a lacus sodales lacinia quis egestas mi
                        </p>
                    </div>
                </div>
            </div>


            <div class="pie">
                <div class="texto-pie">
                    <h4>
                        Derechos reservados | GeoMedia - @DateTime.Now.Year
                    </h4>
                    <p>
                        Por problemas que se puedan presentar durante su experiencia,
                        por favor <a href="~/GeoHome/Contact">contactenos</a> para solventar sus inquietudes lo más
                        rapido posible. Por otra parte gracias por usar nuestro sitio.
                    </p>
                </div>
                <div class="redes">
                    <p>Puedes encontrarnos también en:</p>
                    <ul>
                        <li><a href="#" class="f-logo"><img src="~/img/f-logo.png" alt="facebook-logo" /></a></li>
                        <li><a href="#" class="w-logo"><img src="~/img/w-logo.png" alt="whatsapp-logo" /></a></li>
                        <li><a href="#" class="t-logo"><img src="~/img/t-logo.png" alt="twitter-logo" /></a></li>
                        <li><a href="#" class="i-logo"><img src="~/img/i-logo.png" alt="instagram-logo" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</body>
</html>


